.lock-bg {
  background-image: url("../../assets/desktop/lockscreen.jpg");
  background-position: center center;
  background-size: cover;

  color: white;
}

.Lockhead {
  position: absolute;
  top: 9%;
  transition: lockslideup 1s;
}

@keyframes lockslideup {
  0% {
    top: 9%;
  }
  100% {
    top: 0%;
  }
}

.loginpwd {
  background-color: rgba(34, 34, 34, 0.803);
  border: none;
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 600;
}
.Loginbg {
  background-color: rgba(34, 34, 34, 0.803);
  transition: bgblur 2s;
}
@keyframes bgblur {
  0% {
    background-color: rgba(34, 34, 34, 0);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.745);
  }
}
