.start-windows {
  width: 600px;
  height: 700px;
  background-color: #222;
  position: absolute;
  left: 31%;
  bottom: 9%;
  /* top: 10%; */
  border-radius: 10px;
  /* display: grid;
    justify-content: center; */
  /* align-items: center; */
}
