:root {
  --light: rgba(243, 243, 243, 0.85);
  --dark: rgba(32, 32, 32, 0.75);
}
.task-bar {
  width: 100%;
  height: 48px;
  /* background-image: linear-gradient(135deg, #20371f 30%, #5400a8 100%); */
  background-color: var(--dark);
}
.taskbar-icon:hover {
  background-color: rgba(219, 219, 219, 0.07);
  padding: 7px;
  /* margin: 0px 10px; */
  border-radius: 6px;
}
.taskbar-icon {
  color: white;
  padding: 7px;
  font-size: 11px;
  font-weight: 500;
  margin: 0px 5px;
}
.profile-image:active {
  width: 20px;
  /* padding: 7px; */
  transition: width 0.2s;
}
button {
  background-color: transparent;
  border: none;
}
.task-bar {
  position: absolute;
  bottom: 0;
}
.task-icon {
  /* margin: 0px 5px; */
}
.right-side-tool {
  position: absolute;
  right: 0;
}
